* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #eac926;
}

body {
  font-size: 12px;
  background-color: #ebebeb;
}

main {
  width: 90vw;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

.precio {
  font-size: 18px;
}

.descuentos,
.nombre {
  font-size: 16px;
  font-weight: normal;
}

.nombre {
  color: #666;
  visibility: hidden;
}
main section p {
  font-size: 16px;
}

/* HEADER */

header {
  width: 100%;
  height: 206px;
  position: fixed;
  top: 0%;
  z-index: 100;
}

.banner img {
  margin-top: 206px;
}

.top-header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 50%;
  padding: 10px;
}

.logo img {
  width: 100%;
  animation: logo 5s;
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.form {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.form input {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.boton-lupa {
  background-color: #ebebeb;
  color: #666;
  width: 8%;
  text-align: center;
  border-radius: 5px;
  border: none;
  min-width: 20px;
}

.barra-de-busqueda {
  background-color: #fff;
  color: #666;
  padding: 2px;
  border: 1px solid #000;
  width: 80%;
}

header div p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.top-nav,
.bottom-nav {
  display: none;
}

nav {
  padding: 15px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

header nav ul li i {
  padding-left: 0.5%;
}

/* MENU HAMBURGUESA */

div.menu-hamburguesa {
  text-align: center;
}

div.menu-hamburguesa i {
  background-color: #1259c3;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

/* BANNER */

.banner img {
  width: 100%;
}

/* MAIN */

main section h1 {
  margin: 40px 0px;
}

main section article {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  transition: box-shadow 0.5s;
}
.productos article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
  width: 100%;
}

.main-article {
  width: 100%;
  border-top: 1px solid #ebebeb;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.precio {
  width: 30%;
}

.descuentos {
  width: 70%;
}

.main-article i,
.descuentos {
  color: #39b54a;
}

.main-article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 0.5s;
}

.productos article:hover i {
  transform: rotateZ(-90deg);
}

.productos article:hover .nombre {
  visibility: visible;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos article div p {
  margin-top: 20px;
}

/* FOOTER */

footer {
  padding-top: 8%;
  background-color: #ffffff;
}

footer section {
  text-align: center;
  padding: 8%;
}

footer section i {
  color: #1259c3;
  font-size: 2.5em;
  margin-bottom: 10px;
  transition: color 0.5s;
}

footer section i:hover {
  color: #39b54a;
}

footer section p {
  padding-left: 10%;
  padding-right: 10%;
}

.copyright {
  padding-left: 0%;
}

.copyright p {
  text-align: left;
  color: #666;
  padding-left: 5%;
}

/* FORMS */

main form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

main form div {
  padding: 10px;
  width: 100%;
  display: flex;
  margin-top: 10px;
}

main form div input {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/* REGISTER.HTML */

.register {
  margin-top: 206px;
}

.nombre-apellido input,
.nombre-usuario input,
.fecha-nacimiento input,
.domicilio input,
.password input,
.password-confirm input {
  width: 100%;
}

div.fecha-nacimiento {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fecha-nacimiento label {
  align-self: flex-start;
  margin: 10px 0px;
}

.register h4 {
  font-size: large;
}

.perfil-usuario {
  display: flex;
  flex-wrap: wrap;
}

.perfil-usuario h4 {
  width: 100%;
}

.perfil-usuario input,
.perfil-usuario label {
  margin-top: 10px;
  align-self: center;
  margin-left: 5%;
}

.categorias-de-interes {
  display: flex;
  flex-wrap: wrap;
}

.categorias-de-interes h4 {
  width: 100%;
}

.categorias-de-interes input {
  width: 20%;
}

.categorias-de-interes label {
  width: 80%;
}

.categorias-de-interes label,
.categorias-de-interes input {
  margin-top: 10px;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
}
.avatar h4,
.avatar label {
  width: 100%;
}

.avatar input {
  margin-top: 10px;
}

form div.button {
  display: flex;
  justify-content: space-around;
}

.button button {
  width: 40%;
  padding: 5px 0px;
  background-color: #1259c3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.button .submit {
  transition: background-color 0.5s;
}

.button .reset {
  transition: background-color 0.5s;
}

.button .submit:hover {
  background-color: #0022aa;
}

.button .reset:hover {
  background-color: #666;
}

/* LOGIN.HTML */

.login {
  margin-top: 206px;
}

.login div input,
.login div button {
  width: 100%;
}

.login div button {
  padding: 5px 0px;
  background-color: #1259c3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.login div button:hover {
  background-color: #0022aa;
}

/*MEDIA QUERIES*/

@media (min-width: 361px) {
  header {
    height: 164px;
  }

  .banner img {
    margin-top: 164px;
  }

  .register {
    margin-top: 164px;
  }

  .login {
    margin-top: 164px;
  }

  .productos article {
    width: 40%;
  }

  .top-nav,
  .bottom-nav {
    display: block;
    max-width: 45%;
  }

  .menu-hamburguesa {
    display: none;
  }

  .precio {
    width: 60%;
  }

  .descuentos {
    width: 40%;
  }
  /* HEADER */

  header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .bottom-nav,
  .top-nav {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
  }
  .bottom-nav {
    justify-content: end;
  }

  .top-nav {
    justify-content: start;
  }

  .top-nav li {
    width: 24%;
    align-self: center;
  }

  .bottom-nav li {
    width: 33%;
  }

  header nav ul li {
    display: flex;
  }

  header nav ul li a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
  header nav ul li a i {
    text-align: center;
    align-self: center;
    width: 20%;
  }

  /* TOP HEADER*/

  .logo {
    width: 33%;
  }

  .form {
    width: 33%;
  }

  .top-header p {
    width: 33%;
    align-self: center;
  }
}

@media (min-width: 769px) {
  header {
    height: 200px;
  }

  .banner img {
    margin-top: 200px;
  }

  .register {
    margin-top: 200px;
  }

  .login {
    margin-top: 200px;
  }

  .productos article {
    width: 22%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer section {
    width: 32%;
    padding: 2%;
  }

  footer section p {
    padding-left: 0%;
    padding-right: 0%;
  }

  .copyright {
    width: 100%;
  }
}
